header{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:20px 10px;
}
nav ul{
    display:flex;
    flex-direction: row;
}
nav ul a{
    padding:15px;
    color:var(--dark);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
nav ul a:hover{
    text-decoration: underline;
}
nav ul li{
    list-style:none;
}