section.apresentation{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:15px;
    padding:10px;
}
section.list{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:15px 0px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: -5px 10px 30px rgba(0, 0, 0, .2);

}
section.list article{
    display:flex;
    align-items: center;
    justify-content: center;
}
section.list article .descriptionList{
    display:flex;
    flex-direction: column;
    margin-left: 5px;
}

section.features{
    margin-top:60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:15px;
    align-items: center;
}
section article .list_features{
    margin-top:25px;
}
section article .list_features li{
    list-style: none;
    margin:5px 0px;
    color:var(--dark);
}

section.Plain{
    padding: 25px 0px;
    margin:20px 0px;
}
section.Plain > .titlePlain{
    text-align: center;
}  

section.listPlain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:50px;
    margin-bottom:30px;
}
section.listPlain article{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 650px;
    padding:25px 90px;
    margin:15px 0px;
    align-items: center;
    border:2px solid #e1e1e1;
    border-radius: 15px;
}
section.listPlain article .list_plain{
    margin:10px 0px;
}
section.listPlain article .list_plain li{
    list-style: none;
    margin-bottom:5px;
}
section.listPlain footer{
    display:flex;
    flex-direction:row;
}
section.listPlain footer sup{
    color:var(--dark);
}
.mapa{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.mapa article{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin:25px 0px;
}
article.ListHorizontal{
    display: flex;
    justify-content:center;
    align-items: center;
}
article.ListHorizontal div.box header{
    display:flex;
    flex-direction:row;
    justify-content:space-around
}
article.ListHorizontal div.box{
    border:1px solid #000;
    width: 500px;
}

article.ListHorizontal div.box header .photo_client{
    display:flex;
    flex-direction:row;
    justify-content:space-around
}